{% extends 'base.html'%}

{% block content %}
<div class="contents">
    <h1>Login</h1>
    <form action="/account/hello_1ban/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="Your ID" minlength="5" maxlength="13" required name="user_id" />
        </div>
        <button type="submit" value="POST!">Submit!</button>
    </form>

    {% if user_list %}
        {% for user in user_list %}
            {{ user.text }}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}